@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---------------------------------------------------------------- */

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0A1415;
  --secondary-color: #71592A;
  --accent1-color: #446060;
  --accent2-color: #A4AFA5;

  /* change the values below to your chosen font(s) */
  --heading-font: "Tinos";
  --paragraph-font: "Tinos", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}
/* ---------------------------------------------------------------- */
header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  position: relative;
  width: 101%;
}

.logo {
  font-family: 'Tinos', Helvetica, sans-serif; /* Corrected font-family name */
    font-size: 2.5em; /* Adjust the size as needed */
    color: var(--accent2-color);
    margin: 0.1em;

}

.nav-box a{
  font-family: 'Tinos', Helvetica, sans-serif;
  text-decoration: none;
  color: var(--accent2-color);
  margin: 1em;
  font-size: 1.23em;
  color: var(--primary-color);
}

/* LITTLE DROP DOWN STYLING */

.nav-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 60px;
  background-color: var(--accent2-color);
  width: 20%;
}
.logoLine {
  width: 90%;
  color: var(--primary-color);
}
.menuButton {
  background-color: var(--primary-color);
  font-family: 'Tinos', Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  border: none;
  cursor: pointer;
}
.hamburger {
  color: var(--accent2-color);
  width: 30px;
}
.hide {
  display: none;
}

/* STYLING THE NAV-BOX FOR RESIZED BIG SCREEN */

@media screen and (min-width: 950px){
  
  .menuButton {
    display: none;
  }
  nav {
    display: block;
    z-index: 15;
  }
  .logoLine {
    background-color: var(--accent2-color);
    color: var(--accent2-color);
    width: 90%;
  }
  .nav-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    right: 0;
    top: 0;
    background-color: transparent;
    margin-right: 4em;
  }
  .nav-box a {
    color: var(--accent2-color)
  }

}

/* ---------------------------------------------------------------- */
/* HOME PAGE STYLING */


.text {
  padding: 40px;
  line-height: 3rem;
}
.pitch {
  font-size: 1.2em;
  line-height: 1.5em;
}

.contactButton:hover {
  background-color: var(--accent2-color);
  color: var(--primary-color);
}
.overlayText {
  width: auto;
  height: auto;
}
.contactButton {
  background-color: var(--accent1-color);
  border-radius: 8px;
  margin: 1em;
  justify-self: center;
  color: #fff;
  font-family: 'Tinos', Helvetica, sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em;
}
.background {
  background-image: none;
}

@media screen and (min-width: 950px){
  .background {
    background-image: url('images/heroHome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
  }
  .overlay {
    position: absolute;
    top: 65px;
    width: 100%;
    height: 71%;
    backdrop-filter: blur(6px);
  }
  .overlayText{
    position: absolute;
    border: 4px solid var(--primary-color);
    background-color: var(--accent2-color);
    border-radius: 4px;
    width: 50%;
    height: auto;
  }
  .text {
    padding-right: 30%;
  }
  .homeImg {
    height: 20rem;
    z-index: 2;
    position: relative;
    left: 30%;
    top: 65px;
    border: 4px solid var(--primary-color);
  }
  .contactButton {
    position: relative;
    left: 35%;
    bottom: 10%;
    z-index: 3;
  }
  .amazingReview {
    margin: 40px;
    border: solid 4px var(--accent1-color);
    background-color: var(--accent2-color);
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.1em;
    text-align: center;
    border-radius: 6px;
  }

  .featuredProperties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
  }

  .featured {
    display: flex;
    flex-direction: column;
    border: solid 3px var(--accent1-color);
    border-radius: 2px;
  }

  .featuredProperties img{
    width: 350px;
    height: auto;
  }

  .seeMore {
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    color: var(--primary-color);
    border: solid 3px var(--accent2-color);
  }

  .viewAll {
    text-decoration: none;
    font-size: 1.4em;
    background-color: var(--accent2-color);
    padding: 10px 30px;
    border-radius: 6px;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
  }

  .viewAllButton {
    display: flex; 
    justify-content: center; 
    margin: 20px 0; 
    text-decoration: none;
  }

}

@media screen and (max-width: 950px){
  .background {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }
  .homeImg {
    width: 100%;
    height:auto;
    grid-column: 1;
    grid-row: 1;
  }
  .homeImgCredit {
    display: none;
  }
  .contactButton {
    position: relative;
    width: 400px;
    bottom: 380px;
  }
  .text {
    background-color: var(--accent2-color);
    grid-column: 1;
    grid-row: 2;
    border: solid 4px var(--accent1-color);
  }

  .amazingReview {
    position: relative;
    margin: 2px;
    border: solid 2px var(--accent1-color);
    font-size: 1.2em;
    text-align: center;
    bottom: 70px
  }
  .featuredProperties img{
    width: 100%;
    height: auto;
  }
  .featuredProperties {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
  }

  .featured {
    display: flex;
    flex-direction: column;
    border: solid 3px var(--accent1-color);
    border-radius: 2px;
    margin: 30px;
    text-align: center;
  }

  .viewAllButton {
    display: flex; 
    justify-content: center; 
    text-decoration: none;
  }
  .viewAll {
    text-decoration: none;
    font-size: 1.1em;
    background-color: var(--accent2-color);
    padding: 8px 20px;
    border-radius: 6px;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
    margin-bottom: 30px;
  } 
}





/* ---------------------------------------------------------------- */
/* BUY PAGE STYLING */

@media screen and (min-width: 950px){
  .buyIntroImg {
    background-image: url('images/buyCrop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
    border: solid 5px var(--accent1-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .buyIntroPara {
    width: 500px;
    height: 180px;
    background-color: rgba(164, 175, 165, 0.9);
    font-size: 1.15em;
    border-radius: 8px;
    margin: 10px;
  }

  .buyIntroContactButton {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
  }

  .selectionsMenu {
    background-color: var(--accent1-color);
    height: 30px;
    color: var(--primary-color);
    padding: 10px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }
  label {
    color: #fff;
  }

  #propertyTypeSelector, 
  #propertyPriceSelector,
  #propertyBedsSelector,
  #propertyBathsSelector,
  #propertyLocationSelector {
    width: 150px;
  }

  .propertyDisplay {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto;; 
    padding: 20px;
    gap: 20px;
  }

  .propertyDescription {
    flex: 1; 
    font-size: 1.2em;
    background-color:rgba(164, 175, 165, 0.5);
    padding: 20px;
    border-radius: 8px;
  }

  .slider-container {
    position: relative;
    max-width: 600px;
    max-height: 400px;
    overflow: hidden;
  }  
}

@media screen and (max-width: 950px){
  .selectionsMenu {
    background-color: var(--accent2-color);
    height: auto;
    color: var(--primary-color);
    padding: 10px;
    margin: 0;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    margin: 3px;
  }

  .seeMore {
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    color: var(--primary-color);
    border: solid 3px var(--accent2-color);
  }
  .buyIntroPara {
    display: none;
  }

  .propertyDisplay {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto;; 
    padding: 20px;
    gap: 20px;
    flex-direction: column;
  }

  .propertyDescription {
    flex: 1; 
    font-size: 1.2em;
    background-color:rgba(164, 175, 165, 0.5);
    padding: 20px;
    width: 80%;
    border-radius: 8px;
  }
}


.option {
  height: 20px;
}

.slider-container { 
  position: relative;
  max-width: 600px;
  max-height: 400px;
  margin: auto;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  display: none;
}
.slide.active {
  display: block;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background-color: var(--accent2-color);
  color: var(--primary-color);
  padding: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.slide img{ 
  width: 600px;
  height: auto;
}
.prev:hover, .next:hover {
  background-color: var(--accent1-color);
}

/* ---------------------------------------------------------------- */

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--accent1-color);
  color: var(--primary-color);
  width: 100%;
  margin-top: 60px;
}


.iconCredit {
  text-decoration: none;
  color: inherit;
  margin: 14px;
}
.imageCredit {
  text-decoration: none;
  color: inherit;
  margin: 15px;
  color: #fff;
}

.socialMedia img {
  width: 35px;
  margin: 5px;
}