body {
    background-color: beige;
    font-size: 18px;
    margin: 0;
}

main {
    background-color: #A97C73;
    height: 100vh; 
}

footer p {
    font-size: 0.8em;
}


/* default font size is 16 pixels */
/* viewport height = vh  the height of the viewer browser window*/
/* use . for something w/ a class and # for something w/ an ID */
/* em makes your font a fraction of the main font size */


/* ab028-068bc
8aa06-92a56
eb615-a21d1
29fec-74fe4
ce961-35334
ae0d1-9a125
6b89e-60396
a304b-e6707
8e05c-12a2a
d0397-72b34
09ab3-8811b
609ef-bc28a
3ee80-0f655
33fd6-2e904
fe6cf-46a7d
d2729-a07c4 */

/* peaches */